@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#principal{
    text-align: center;
    background-color:rgb(4, 109, 0);
    color: white;
}

h2{
    color: rgb(98, 197, 139);
}

.basico{
    color: rgb(98, 197, 139);    
}

.intermediario{
    color: rgb(197, 195, 98);
}

.avancado{
    color: rgb(197, 113, 98);
}

.destaque{
    background-color: #c5c56070;
}